<div class="container body-container">
    <div class="main-container">
        <h2>Contact Us</h2>
        <hr />


        <div class="row">
            <div class="col-md-6">
                <h3>Ambattur O.T branch</h3>
                <address>
                    No 75, Chota Plaza Complex <br />
                    Mounaswamy Mada Street <br />
                    Ambattur, Chennai - 600053 <br />
                    TN, India <br />
                </address>

                <h3>Ambattur Estate branch</h3>
                <address>
                    No 2, Menambedu Road <br />
                    Coromantel Town <br />
                    Ambattu SIDCO Estate <br />
                    (Next To South India Bank) <br />
                    Chennai - 600098 <br />
                    TN, India <br />
                </address>

                <address>
                    <strong>Email:</strong> <a
                        href="/cdn-cgi/l/email-protection#6b180a070e18450d1904051f0702050e08041e19020e19182b0c060a0207450804064b"><span
                            class="__cf_email__"
                            data-cfemail="f685979a9385d890849998829a9f9893959983849f938485b6919b979f9ad895999b">[email&#160;protected]</span>
                    </a><br />
                    <strong>Mobile:</strong> +91 8144111180 / 9941302000 / 9941312000
                </address>
            </div>

            <div class="col-md-6">

                <h3>Write to us: </h3>
                <form method="post">
                    <div class="form-group">
                        <label for="name">Your Name</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone number</label>
                        <input type="tel" class="form-control" id="phone" name="phone" placeholder="Enter phone number"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="message">Your message</label>
                        <textarea class="form-control" id="message" name="message" rows="3" required></textarea>
                    </div>

                    <button type="submit" class="btn btn-success btn-block float-right">Submit</button>
                </form>

            </div>
        </div>
    </div>
</div>
