<div class="container body-container">
    <div class="main-container">
        <h2>Contact Us</h2>
        <hr />

        <div class="row">
            <div class="col-md-6">
                <h3>Ambattur O.T branches</h3>

                <address>
                    No 75, Chota Plaza Complex <br />
                    Mounaswamy Mada Street <br />
                    Ambattur O.T, Chennai <br />
                    Tamil Nadu - 600053  <br />
                    India <br />
                </address>

                <hr />

                <address>
                    412 MTH Road, Everest Complex  <br />
                    Ground floor  <br />
                    (Next to KFC Restaurant and RR Mobiles)  <br />
                    Ambattur O.T, Chennai  <br />
                    Tamil Nadu - 600053  <br />
                    India <br />
                </address>

                <hr />

                <address>
                    <strong>Email:</strong> <a
                        href="mailto:contact@frontlinecourier.com">
                        contact@frontlinecourier.com
                    </a><br />
                    <strong>Mobile:</strong> +91 8144111180 / 9941302000 / 9941312000
                </address>
            </div>

            <div class="col-md-6" *ngIf="mailCompleted">
                <div class="alert alert-success" role="alert" *ngIf="mailSent">
                    Email Send Successfully! Our Team will contact you.
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="!mailSent">
                    Failed to send your request! Please contact us through email or phone.
                </div>
            </div>

            <div class="col-md-6" *ngIf="!mailCompleted">
                <h3>Write to us: </h3>
                <form method="post" [formGroup]='contactForm'>
                    <div class="form-group">
                        <label for="name">Your Name*</label>
                        <input formControlName='name' type="text" class="form-control" id="name" name="name" placeholder="Enter your name"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input formControlName='email' type="email" class="form-control" id="email" name="email" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone number</label>
                        <input formControlName='phone' type="tel" class="form-control" id="phone" name="phone" placeholder="Enter phone number"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="message">Your message*</label>
                        <textarea formControlName='body' class="form-control" id="message" name="message" rows="3" required></textarea>
                    </div>

                    <button [disabled]="contactForm.invalid"  type="submit" class="btn btn-success btn-block float-right" (click)="sendEmail()">Submit</button>
                </form>

            </div>
        </div>
    </div>
</div>
