<div class="container body-container">
    <div class="main-container">
        <h2>Surface Service </h2>
        <hr />

        <div class="row">
            <div class="col-md-12">
                <p>Shipment via surface mode. This mode will deliver your shipment to mostly international. The mode of transport will be water.
                </p>

                <div class="float-right">
                    <a href="/Service/PickUp" class="btn btn-success">Pick-up Request</a>
                    <a href="/Service/Quote" class="btn btn-primary">Get Quote</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col fl-hr">
                <hr />
            </div>
        </div>

    </div>
</div>