/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.page-container {
    margin: 1rem 2rem;
}

/* remove spinner for number input text https://css-tricks.com/snippets/css/turn-off-number-input-spinners/ */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}


th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  padding: 0 7.5px 0 7.5px !important;
}

.mat-cell, .mat-footer-cell {
  font-size: 12px;
}

.Booked {
  color: blueviolet;
  font-weight: bolder;
}

.Delivered {
  color: green;
  font-weight: bolder;
}

.InTransit {
  color: orange;
  font-weight: bolder;
}

.Takenfordelivery {
  color: cyan;
  font-weight: bolder;
  text-decoration: underline;
}

.Shipmenthold, .Doorlocked1stday {
  color: red;
  font-weight: bolder;
}