<div class="page-container">
  <!-- row 1 -->
  <div fxLayout="row" fxLayoutAlign="space-between start" fxLayout.xs="column" fxLayout.sm="column">
    <div fxFlex="80%"> <h2>Frontline Booking</h2> </div>
    <div fxFlex="20%">
      <button mat-raised-button color="accent" (click)="openDialog()"> 
        <mat-icon>add</mat-icon>
        Add Booking
      </button>
      <button mat-raised-button (click)="lookupCourier()">Populate Data</button>
    </div>
  </div>

  <!-- row 2-->
  <div fxLayout="row">
    <div fxFlex="100%">
      <span>hello</span>
    </div>
  </div>
</div>