/* You can add global styles to this file, and also import other style files */

.navbar {
    padding: 0.5rem 0.5rem !important;
}

footer {
    background-color: #eee;
    padding: 20px 0px;
}

.row {
    margin: 2.5rem 0rem;
}