<h2 mat-dialog-title>Add Booking</h2>
<form cdkTrapFocus [formGroup]="bookingForm" (ngSubmit)="addBooking()">

    <mat-dialog-content class="mat-typography">

        <div fxLayout='row' fxLayoutAlign="space-between" fxLayoutGap="2%">
            <div fxFlex>
                <mat-form-field class="example-full-width">
                    <mat-label>AWB</mat-label>
                    <input formControlName="awb" matInput placeholder="Air Way Bill Number" cdkFocusInitial>
                </mat-form-field>
            </div>
            <div fxFlex>
                <mat-form-field class="example-full-width">
                    <mat-label>Reference Number</mat-label>
                    <input formControlName="referenceNumber" matInput placeholder="Reference Number">
                </mat-form-field>
            </div>
            <div fxFlex>
                <mat-form-field class="example-full-width">
                    <mat-label>Courier</mat-label>
                    <mat-select formControlName="courier">
                        <mat-option *ngFor="let courier of data.couriers" [value]='courier.courierId'>
                            {{ courier.courier }} </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div fxLayout='row' fxLayoutAlign="space-between" fxLayoutGap="2%">
            <div fxFlex>
                <mat-form-field class="example-full-width">
                    <mat-label>Booking Date</mat-label>
                    <input formControlName="bookingDate" type="date" matInput placeholder="Booking Date">
                </mat-form-field>
            </div>
            <div fxFlex>
                <mat-form-field class="example-full-width">
                    <mat-label>Shipper's Name</mat-label>
                    <input formControlName="shipperName" matInput placeholder="From Name">
                </mat-form-field>
            </div>
            <div fxFlex>
                <mat-form-field class="example-full-width">
                    <mat-label>Origin</mat-label>
                    <input formControlName="origin" matInput placeholder="From City/Zip">
                </mat-form-field>
            </div>
        </div>

        <div fxLayout='row' fxLayoutAlign="space-between" fxLayoutGap="2%">
            <div fxFlex>
                <mat-form-field class="example-full-width">
                    <mat-label>Booking Amount (₹)</mat-label>
                    <input formControlName="bookingAmount" type="number" min="0" matInput placeholder="Booked Amount (₹)">
                </mat-form-field>
            </div>
            <div fxFlex>
                <mat-form-field class="example-full-width">
                    <mat-label>Bill Amount (₹)</mat-label>
                    <input formControlName="billAmount" type="number" min="0" matInput placeholder="Bill Amount (₹)">
                </mat-form-field>
            </div>
            <div fxFlex>
            </div>
        </div>

        <div fxLayout='row' fxLayoutAlign="space-between" fxLayoutGap="2%">
            <div fxFlex>
                <mat-form-field class="example-full-width">
                    <mat-label>Dox Type</mat-label>
                    <mat-select formControlName="doxType">
                        <mat-option [value]='1'> Dox </mat-option>
                        <mat-option [value]='2'> Dox Type </mat-option>
                        <mat-option [value]='0'> NA </mat-option>
                    </mat-select>
                    <!-- <input matInput placeholder="Dox Type"> -->
                </mat-form-field>
            </div>
            <div fxFlex>
                <mat-form-field class="example-full-width">
                    <mat-label>Receiver's Name</mat-label>
                    <input formControlName="receiverName" matInput placeholder="To Name">
                </mat-form-field>
            </div>
            <div fxFlex>
                <mat-form-field class="example-full-width">
                    <mat-label>Destination</mat-label>
                    <input formControlName="destination" matInput placeholder="To City/Pincode">
                </mat-form-field>
            </div>
        </div>

        <div fxLayout='row' fxLayoutAlign="space-between" fxLayoutGap="2%">
            <div fxFlex>
                <mat-form-field class="example-full-width">
                    <mat-label>Shipment Mode</mat-label>
                    <mat-select formControlName="shipmentMode">
                        <mat-option [value]='1'> Domestic </mat-option>
                        <mat-option [value]='2'> International </mat-option>
                        <mat-option [value]='3'> Local </mat-option>
                        <mat-option [value]='0'> NA </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxFlex>
                <mat-form-field class="example-full-width">
                    <mat-label>Transport Mode</mat-label>
                    <mat-select formControlName="transportMode">
                        <mat-option [value]='1'> Air </mat-option>
                        <mat-option [value]='2'> Cargo </mat-option>
                        <mat-option [value]='3'> Air Cargo </mat-option>
                        <mat-option [value]='4'> Sea Cargo </mat-option>
                        <mat-option [value]='5'> Surface Cargo </mat-option>
                        <mat-option [value]='6'> Surface </mat-option>
                        <mat-option [value]='7'> Train Surface </mat-option>
                        <mat-option [value]='8'> Road Surface </mat-option>
                        <mat-option [value]='0'> NA </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxFlex>
            </div>
            <!-- <div fxFlex>
                <mat-form-field class="example-full-width">
                    <mat-label>Shipment Status</mat-label>
                    <mat-select formControlName="shipmentStatus">
                        <mat-option *ngFor="let status of data.status[0]" [value]='status.statusId'>
                            {{ status.shipmentStatus }} </mat-option>
                    </mat-select>
                </mat-form-field>
            </div> -->
        </div>

        <div fxLayout='row' fxLayoutAlign="space-between" fxLayoutGap="2%">
            <div fxFlex>
                <mat-form-field class="example-full-width">
                    <mat-label>From/To Phone Number</mat-label>
                    <input formControlName="additionalPhoneNumber" matInput placeholder="From or To Phone Number">
                </mat-form-field>
            </div>
            <div fxFlex>
                <mat-form-field class="example-full-width">
                    <mat-label>Volume Weight/Size</mat-label>
                    <input formControlName="volumetricWeightOrSize" matInput placeholder="l * b * h">
                </mat-form-field>
            </div>
            <div fxFlex>
                <mat-form-field class="example-full-width">
                    <mat-label>Leaf/Pouch Number</mat-label>
                    <input formControlName="leafNumber" matInput placeholder="Leaf/Pouch Number">
                </mat-form-field>
            </div>
        </div>

        <div fxLayout='row' fxLayoutAlign="space-evenly" fxLayoutGap="2%">
            <div fxFlex>
                <mat-form-field class="example-full-width">
                    <mat-label>Remarks</mat-label>
                    <textarea formControlName="remarks" matInput placeholder="Remarks" rows="4"></textarea>
                </mat-form-field>
            </div>
            <div fxFlex>
                <mat-form-field class="example-full-width">
                    <mat-label>Delivery Office Location</mat-label>
                    <textarea formControlName="deliveryOfficeLocation" matInput placeholder="Delivery Office Location" rows="4"></textarea>
                </mat-form-field>
            </div>
            <div fxFlex>
            </div>
        </div>

    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-raised-button mat-dialog-close color="accent" *ngIf="enableCloseButton" (click)="onNoClick()">Cancel</button>
        <button mat-raised-button mat-dialog-close color="accent" [disabled]="!bookingForm.touched"
            (click)="bookingForm.reset()" *ngIf="enableCancelButton">Cancel</button>
        <button mat-raised-button [mat-dialog-close]="true" color="primary"
            [disabled]="bookingForm.invalid" type="submit" *ngIf="enableSubmitButton">Save</button>
        <button mat-raised-button color="primary"
            [disabled]="bookingForm.invalid" [mat-dialog-close]="true" (click)="updateBooking()" *ngIf="enableUpdateButton">Update</button>
    </mat-dialog-actions>

</form>



<!-- Copyright 2019 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->